body {
  font-family: "Oswald", sans-serif;
  margin: 0px;
}
header {
  background: #FFF8F3;
  background-image: url(../images/header_bg.png), url(../images/developer.png);
  background-repeat: no-repeat;
  background-position: bottom right, left;
}
.text-primary {
  color: #FD6E0A;
  margin-left: -10px;
}
nav {
  display: flex;
  padding: 0px 200px;
}
.nav-title {
  font-weight: 800;
  font-size: 45px;
}

nav ul {
  display: flex;
  align-items: center;
  padding-left: 65%;
}
nav li {
  list-style: none;
  margin-left: 50px;
}
.btn-primary {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 20px;
  border: 0;
  padding: 8px 8px;
  height: 40px;
  border-radius: 5px;
  background: #FD6E0A;
}
.banner {
  display: flex;
  /* align-items: center; */
  margin: 0 200px;
}
.banner-title {
  font-weight: 700;
  font-size: 85px;
}
.banner-sub-title {
  font-weight: 600;
  font-size: 45px;
  margin-bottom: 20px;
}

.banner-description {
  color: #757575;
  font-size: 18px;
  margin-bottom: 30px;
}